@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --space-mono: Space Mono, 'sans-serif';
    --light-primary: #F6F8FF;
    --light-secondary: #FEFEFE;
    --light-words: #4B6A9B;
    --light-words2: #2B3442;
    --light-words3: #697C9A;
    --dark-primary: #141D2F;
    --dark-option-hover: #90A4D4;
    --dark-secondary: #1E2A47;
    --buttons: #0079FF;
    --buttons-hover: #60ABFF;
}

button {
    cursor: pointer;
}

.page-wrapper {
    background-color: var(--light-primary);
    font-family: var(--space-mono);
}

.container {
    min-width: 730px;
}

/* header css */
#light-mode, #sun {
    display: none;
}

#dark-mode, #dark-mode + svg {
    color: var(--light-words3);
    transition: all ease .3s;
}

#modes:hover #dark-mode, #modes:hover #moon {
    color: #222731;
}

.icon-container {
    cursor: pointer;
    gap: 16px;
}

.icon {
    height: 20px;
}

/* search css */
#form {
    margin-top: 36px;
    position: relative;
}

input {
    width: 100%;
    min-height: 69px;
    border: none;
    border-radius: 15px;
    background: var(--light-secondary);
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.20);
    color: #000;
    font-family: var(--space-mono);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-left: 80px;
    padding-right: 100px;
    position:relative;
}

input::placeholder {
    font-family: var(--space-mono);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--light-words);
}

input[type="search"] {
    background-image: url("../assets/icon-search.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 32px 23px;
}

#submit-btn {
    background: var(--buttons);
    color: #FFFFFF;
    font-family: var(--space-mono);
    font-weight: 700;
    font-size: 16px;
    width: 106px;
    height: 50px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 10px;
}

#search-icon {
    position: absolute;
    top: 23px;
    left: 32px;
}

/* main content css */
#main-container {
    margin-top: 24px;
    width: 730px;
    min-height: 419px;
    /*height: 419px;*/
    padding-bottom: 48px;
    gap: 37px;
    border-radius: 15px;
    background: var(--light-secondary);
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.20);
}

#profile-picture {
    margin-top: 48px;
    margin-left: 48px;
}

#profile-details {
    margin-top: 44px;
}

#profile-header {
    /*gap: 138px*/
    width: 100%;
    justify-content: space-between;
}

#profile-title {
    color: var(--light-words2);
    font-size: 26px;
    font-weight: 700;
    max-width: 300px;
}

#profile-date {
    color: var(--light-words3);
    font-size: 15px;
    text-align: right;
    /*justify-self: end;*/
}

#profile-username {
    color: var(--buttons);
    font-size: 16px;
    font-weight: 400;
}

#profile-bio {
    margin-top: 20px;
    color: var(--light-words);
    opacity: 0.75;
    line-height: 25px;
    font-weight: 400;
    max-width: 480px;
}

#addition-data {
    margin-top: 32px;
    font-size: 13px;
    font-weight: 400;
    color: var(--light-words);
}

#table {
    height: 85px;
    padding-top: 15px;
    padding-left: 32px;
    background: var(--light-primary);
    border-radius: 10px;
}

#repos {
    width: 139px;
}

#followers {
    width: 153px;
}

.numbers {
    color: var(--light-words2);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

#links-container {
    margin-top: 37px;
    gap: 120px;
    font-size: 15px;
    font-weight: 400;
}

.links {
    gap: 21px;
}

.link {
    gap: 16px;
}

#location-svg, #github-link-svg, #twitter-svg, #company-svg {
    color: var(--light-words);
    opacity: 0.55;
}

#location-unavailable, #github-link-unavailable, #twitter-unavailable, #company-unavailable {
    color: var(--light-words);
    opacity: 0.45;
}
